<% @query.query_sources.each do |query_source| %>
  <div style="display:inline-block; line-height:24px"
    onmouseover="$('#query_source_<%= query_source.id %>_delete_link').show();"
    onmouseout="$('#query_source_<%= query_source.id %>_delete_link').hide();">
    <%= link_to query_source.source.name, query_source, method: :get, remote: true %>
    <div style="display:inline-block;width:55px">
      <%= link_to 'remove', query_source, method: :delete, remote: true, data: { confirm: "Are you sure you want to remove #{query_source.source.name} from your query?" }, class: 'btn btn-mini btn-danger', id: "query_source_#{query_source.id}_delete_link", style: 'display:none' %>
    </div>
  </div>
<% end %>
