<h1>Listing query_sources</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @query_sources.each do |query_source| %>
  <tr>
    <td><%= link_to 'Show', query_source %></td>
    <td><%= link_to 'Edit', edit_query_source_path(query_source) %></td>
    <td><%= link_to 'Destroy', query_source, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Query source', new_query_source_path %>
