<% if @sources.size > 0 %>
[<%= @sources.collect{|s| "{\"id\":\"#{s.id}\", \"label\":\"#{highlight(s.name, @search_terms, highlighter: '<b>\1</b>')}\", \"value\":\"#{s.name}\", \"category\":\"\"}" }.join(',').html_safe %>]
<% else %>
[
  {"label": "", "value": "", "category": "<span class='label label-warning'>No Matching Sources Found</span>", "category_only": "true"}
]
<% end %>
