$("#table_content").html("<center><%= escape_javascript(You have neither <span class='source_rule_text'>edit data source mappings</span> nor <span class='source_rule_text'>view data source mappings</span>.</center>");
