$("#popup").css({
  "width": "816px"
});
$("#popup_title").html("<%= escape_javascript(image_tag('gentleface/16/folder_open.png', align: 'absmiddle', alt: '')) %> Sources")
$("#popup_content").html("<div id='popup_content_left'>Left</div><div id='popup_content_right' style='width:412px'><div id='popup_info'></div></div><div style='clear:both'></div>");
$("#popup_content_left").html("<%= escape_javascript(render("sources_search") + '<div id="sources">'.html_safe + render("sources_popup") + '</div>'.html_safe) %>");
$("#popup_info").html("<span class='quiet'><%= escape_javascript(image_tag('contour/information.png', alt: '', style: 'vertical-align:text-bottom')) %> Click on a source for a detailed description.</span>");
$(document.body).qtip('hide');loadPopup();
centerPopup();

$('#sources_search').watermark('Enter source name to filter list.');
$('#sources_search').focus();
