<span style="white-space:nowrap" data-object="remove-matching-group-parent">
  <%= select_tag 'variable_ids[]', options_for_select([['---', nil]] + @all_variables, variable_id), data: { object: 'matching-form-option' } %>
  <%= link_to 'X', '#', data: { object: 'remove-matching-group' }, class: 'btn btn-danger-inverse btn-mini', style: 'margin-left: -4px;' %>
</span>
