<div class="control-group">
  <%= f.label :value, nil, class: 'col-md-2 control-label' %>
  <div class="controls">
    <%= f.text_field :value, class: 'col-md-12', placeholder: 'Drag and select a range on the graph!' %>
  </div>
</div>
