<div class="form-group">
  <%= f.label :value, nil, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :value, class: 'form-control', placeholder: 'Drag and select a range on the graph!' %>
  </div>
</div>
