<% if @report.report_concepts.size == 0 %>
  <% report_type = @report.is_dataset? ? 'dataset' : 'report' %>
  <center>You currently have no concepts selected for this <%= report_type %>. Add concepts to your <%= report_type %> by selecting them above.</center>
  <br />
<% elsif @report.is_dataset? %>
  <div class="row">
    <div class="col-md-6">
      <%= link_to 'Download CSV', get_csv_report_path(@report, search_id: @search.id), method: :post, class: 'btn btn-mini', target: '_blank' %>
      <%= params[:report_id] = @report.id; params[:add_report_id] = @report.id; render partial: 'concepts/folders' %>
    </div>
    <div class="col-md-6">
  </div>
<% end %>
