<div class="modal hide modal-large" id="files_popup">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Files</h3>
  </div>
  <div class="modal-body" id="concepts_content">

    <div class="row">
      <div class="col-md-4">
        <%= render partial: "searches/available_files" %>
      </div>

      <div class="col-md-4" id="file_popup_info">

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default">Close</a>
  </div>
</div>
