<% file_types = FileType.available.with_source(@search.sources.collect{|s| s.id}) %>

<% if file_types.blank? %>
  <% if @search.sources.size > 0 %>
    <span class="glyphicon glyphicon-question-sign"></span>
    <span class="quiet">No files available for selected <%= @search.sources.size > 1 ? 'source'.pluralize : 'source' %>.</span>
  <% end %>
<% else %>
  <% unavailable_files = 0 %>
  <% file_types.each_with_index do |file_type| %>
    <div style="line-height:25px">
      <% if file_type.user_can_download?(current_user, @search.sources) %>
        <%= link_to file_type.name_and_short_extension, data_files_search_path(@search, file_type_id: file_type.id), method: :post, remote: true %>
      <% else %>
        <% unavailable_files += 1 %>
        <span class="quiet" style="text-decoration: line-through;"><%= file_type.name_and_short_extension %></span>
      <% end %>
    </div>
  <% end %>
  <% if unavailable_files > 0 %>
    <br />
    <span class="quiet">You do not have the <span class="source_rule_text">download files</span> access rule for any selected data source for <%= pluralize unavailable_files, 'file type' %>.</span>
  <% end %>
<% end %>
