<% if @concepts.size > 0 %>
[
<%= @concepts.collect{|c| "{\"id\":\"#{c.id || c.key}\", \"label\":\"#{highlight(c.human_name, @search_terms, highlighter: '<b>\1</b>')}\", \"value\":\"#{c.human_name}\", \"category\":\"#{escape_javascript(image_tag 'icons/folder.png', size: '12x12', style: 'vertical-align:text-bottom')} #{c.folder.blank? ? 'Uncategorized' : c.folder}\"}" }.join(',').html_safe %>
]
<% elsif @query and @query.sources.size == 0 %>
[
  {"label": "", "value": "", "category": "<span class='label label-important'>Select a Data Source First</span>", "category_only": "true"}
]
<% else %>
[
  {"label": "", "value": "", "category": "<span class='label label-important'>No Matching Concept Found</span>", "category_only": "true"}
]
<% end %>
