<tr style="background-color: #FFFBCD;" class="search_no_border">
  <td>
    <% if @mapping.mapped?(current_user) %>
      <span class="label label-success">Mapped</span>
    <% else %>
      <span class="label label-warning">Partially Mapped</span>
    <% end %>
  </td>
  <%= render partial: 'mappings/form' %>
  <td style="white-space:nowrap">
    <%= link_to 'save', '#', data: { object: 'mapping-save', source_id: @source.id, mapping_id: @mapping.id }, class: 'btn btn-mini btn-primary' %>
    <%= link_to 'cancel', mapping_path(@mapping, source_id: @mapping.source.id), method: :get, remote: true, class: 'btn btn-mini' %>
  </td>
</tr>
