<table class="table" style="width:100%"><col width="1px"/><col width="200px"/>
  <tr>
    <th></th>
    <th style="text-align:left">Column Name</th>
    <th style="text-align:left">Variable</th>
    <th>Actions</th>
  </tr>
  <% @columns.each do |column_data| %>
    <% @column = column_data[:column] %>
    <% @mapping = @source.mappings.where(table: params[:table], column: @column).first %>
    <tbody id="mapping_form_<%= @column.gsub(' ', '_') %>">
      <% if @source.user_has_action?(current_user, "edit data source mappings") %>
        <% if @mapping %>
          <%= render partial: 'mappings/show' %>
        <% else %>
          <%= render partial: 'mappings/new' %>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>
