<tr>
  <td><span class="label">Not Mapped</span></td>
  <td>
    <%= @column %>
  </td>
  <td>
    <%= link_to 'automap', '#', data: { object: 'mapping-automap', table: params[:table], column: @column, source_id: @source.id }, class: 'btn btn-xs btn-default' %>
  </td>
  <td></td>
</tr>
