[
<%#= User.current.collect{|u| "{\"id\":\"#{u.id}\", \"label\":\"#{highlight(u.email, @search_terms, highlighter: '<b>\1</b>')}\", \"value\":\"#{u.name}\", \"category\":\"Users\"}" }.join(',').html_safe%>
<%= @concepts.collect{|c| "{\"id\":\"#{c.id}\", \"label\":\"#{highlight(c.human_name, @search_terms, highlighter: '<b>\1</b>')}\", \"value\":\"#{c.human_name}\", \"category\":\"#{c.dictionary ? c.dictionary.name : ''}\"}" }.join(',').html_safe %>

<%# <br />#{escape_javascript(image_tag 'icons/folder.png', size: '12x12')} <span class='small quiet'>#{c.folder.gsub(':', '/')}</span> %>

<%#=
  { "id": "Erithacus rubecula", "label": "<span class='quiet small'><%= escape_javascript(image_tag 'icons/folder.png', size: '12x12') %=>Folders/Something/Administration</span><br/>&nbsp;&nbsp;&nbsp;<span style='color:black;font-weight:bold'>Euro</span>pean Robin", "value": "European Robin" },
  { "id": "Cercotrichas galactotes", "label": "Rufous-Tailed Scrub Robin", "value": "Rufous-Tailed Scrub Robin" },
  { "id": "Irania gutturalis", "label": "White-throated Robin", "value": "White-throated Robin" },
  { "id": "Turdus migratorius", "label": "American Robin", "value": "American Robin" }
%>
]
