$("#popup").css({
  "width": "816px" //"408px"
});
$("#popup_title").html("<%= escape_javascript(image_tag('gentleface/16/folder_open.png', align: 'absmiddle', alt: '')) %> Dataset")
$("#popup_content").html("<div id='popup_content_left'>Left</div><div id='popup_content_right' style='width:412px'></div><div style='clear:both'></div>");

$("#popup_content_left").html("<%= escape_javascript(render("concepts/folder_search") + '<div id="concept_folders">'.html_safe + render("concepts/folders") + '</div>'.html_safe) %>");
$("#popup_content_right").html("<%= escape_javascript(render("report_concepts/accordion")) %>");

$("#popup_content_right").css({
  "overflow-y": "hidden",
  "width": "412px"
})

$(document.body).qtip('hide');loadPopup();
centerPopup();

$('#concept_search').watermark('Enter concept name or navigate folders.');
$('#accordion').accordion({ fillSpace: true });
