.collapsed {
  white-space:nowrap;
  overflow:hidden;
}

.recently_updated {
  background-color: #ffffcc;
}

.and {
/*  margin-left:20px;*/
  color:#666;
  font-size:0.8em;
}

.records_found {
  color: #76CF00;
}

.ui-autocomplete-category {
	font-weight: bold;
  padding: 0 .2em;
  margin: 0 0 .2em;
  line-height: 1.5;
	color: #EB6C20;
}

ul.ui-autocomplete {
  z-index: 20 !important;
}

#report_concepts {
  font-size: 12px;
}

#concept_title {
  white-space: nowrap;
  overflow: hidden;
}

/*li.connectedSortable {
  list-style-type: none;
  float: left;
  margin: 0px 10px 0px 0px;
  padding: 5px;
  background: #eee;
  width: 143px;
}*/

ul.droppable-hover {
  background-color: #ffffd4;
}

ul.connectedSortable{
  list-style-type: none;
  padding: 2px 4px;
  /*background:#FFF6BF;*/
  /*border: 1px solid #FFD324;*/
  min-height: 32px;
}

ul.connectedSortable li.bubble, ul.connectedSortable li.bubble-faded {
  padding: 5px;
  margin: 2px 0px;
  cursor: move;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

ul.connectedSortable li.bubble-faded {
  background-color: #eee;
  border: 1px dotted #ddd;
  height: 1.2em;
}

.ui-state-highlight {
  height: 1.2em;
}

.table th {
  text-align: center;
}

th.total, td.total {
  background-color: #EDEDED;
}

tr.overall {
  font-weight: bold;
}

tr.overall td {
  background-color: #EDEDED;
}

.common a {
  /*font-size:1.4em;*/
  font-weight: bold;
  color: #094E63;
}

.common a:hover, .uncommon a:hover {
  color: #EB6C20;
}

.uncommon a {
  color: #057080;
}

.highlight {
  background-color: #ffffd4;
}

.source_rule_text {
  font-style: italic;
  color: #EB6C20;
  cursor: help;
}

.space {
  padding-left: 10px;
  padding-right: 10px;
}

.nolink {
  color: #404040;
}

.modal.modal-large {
  width: 800px;
}

.modal-wrapper {
  margin-left:-400px;
}

@media (max-width: 768px) {
  .modal.modal-large {
    width: auto;
  }

  .modal-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    width: auto;
    margin: 0;
    z-index: 1050;
    overflow: visible;
  }
}

@media (max-width: 480px) {
  .modal.modal-large {
    width: auto;
  }

  .modal-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    width: auto;
    margin: 0;
    z-index: 1050;
    overflow: visible;
  }
}

/* Contour Backdrop */

#contour-backdrop {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
}

.contour-modal-wrapper {
  position:relative;
}

.contour-modal {
  position:absolute;
  padding: 10px;
  top: 0;
  margin-top: 0px; /* 38px; */
  margin-bottom: 40px;
  left: 0;
  right: 0;
  z-index: 1025;
  background-color: white;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.download-container {
  position: relative;
  margin: 0 0 20px 0;
  padding: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.download-container-after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 300;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

.download-container .checkbox, .sheet-container .checkbox, .sheet-container .radio {
  padding: 6px 10px 6px 25px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  background-color: #f9f9f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
}

.download-container .checkbox:hover, .sheet-container .checkbox:hover, .sheet-container .radio:hover {
  color: #333;
  background-color: #f5f5f5;
}

.checkbox.selected, .checkbox.selected:hover, .radio.selected, .radio.selected:hover {
  background-color: #7aa6ff;
  color: #fff;
}

.checkbox.selected.negation, .checkbox.selected.negation:hover, .radio.selected.negation, .radio.selected.negation:hover {
  background-color: #b94a48;
  color: #fff;
}

.download-container h3 {
  margin-top: 0px;
}

/* End Contour Backdrop */

.criterium-box {
  background-color: white;

  padding: 3px 5px;

  margin: 0px;

  border: 1px solid #bbb;
  -moz-border-radius: 3px; /* Mozilla */
  -webkit-border-radius: 3px; /* Webkit */
  border-radius: 3px;

  -webkit-box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.075);
          box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.075);
}

.count-rot315 {
  -moz-transform:rotate(315deg);
  -o-transform:rotate(315deg);
  -webkit-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-size:0.9em;
  display:inline-block;
  margin:10px 0;
}

td.warning {
  background-color: #fcf8e3;
}

.table-hover tbody tr:hover > td.warning {
  background-color: #faf2cc;
}

td.error {
  background-color: #f2dede;
}


.table-hover tbody tr:hover > td.error {
  background-color: #ebcccc;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

#criteria .form-group {
  margin-bottom: 0px;
}

.total-description {
  font-size: 12px;
  font-weight: 300;
  color: #9da0a4;
  /*margin-bottom: -20px;*/
}

.alert-inline {
  display: inline-block;
  padding: 0px 8px;
  margin: 0px;
}
