<span data-object="toggle-folder" data-folder-id="<%= folder_id %>" style="cursor:pointer;">
  <span class="glyphicon glyphicon-folder-open" id="<%= folder_id %>_link_img"></span>
  <span class="nolink"><%= folder %></span>
</span>
