<span data-object="toggle-folder" data-folder-id="<%= folder_id %>" style="cursor:pointer;">
  <i class="icon-folder-open" id="<%= folder_id %>_link_img"></i>
  <span class="nolink"><%= folder %></span>
</span>
