<a data-object="toggle-folder" data-folder-id="<%= folder_id %>" style="cursor:pointer;text-decoration:none" href="#">
  <span class="a glyphicon glyphicon-folder-open" id="<%= folder_id %>_link_img"></span>
  <span class="nolink"><%= folder %></span>
</a>
