<div id="variable_<%= variable.id %>_graph"></div>

<% variable.mappings.sort{ |m1, m2| m1.human_table <=> m2.human_table }.each do |mapping| %>
  <% @mapping = mapping %>
  <%= render partial: "mappings/stats" %>
<% end %>
