<% @title = "About #{DEFAULT_APP_NAME}" %>

<h1><%= @title %></h1>

<ol style="font-size:1.3em">
  <li>Build powerful searches and see interactive counts</li>
  <li>Generate and download dynamic datasets</li>
  <li>Create and download easily customizable summary reports</li>
  <li>Download numerous large files associated with your search with a single click</li>
</ol>
