<div id="report_<%= @report.id %>" class='faded_delete_icon' data-image-id="report_<%= @report.id %>_delete_icon">
  <span id="report_<%= @report.id %>_name">
    <%= render partial: 'reports/name' %>
  </span>
</div>