<div style="position:relative;z-index:5;">
  <div style="position:absolute;right:0px;z-index:5; margin:5px 5px 0 0;">
    <%= link_to_function image_tag('icons/gentleface/expand_16.png', alt: '', title: 'Expand Popup', class: 'smudge'), "$('#expand_popup').HideBubblePopup();$('#popup_content_left').hide(); $('#popup_content_right').css({ 'width': '816px'}); $(window).resize(); $('#expand_popup').hide(); $('#collapse_popup').show()", class: 'bubble-azure', id: 'expand_popup' %>
    <%= link_to_function image_tag('icons/gentleface/sq_minus_16.png', alt: '', title: 'Collapse Popup', class: 'smudge'), "$('#collapse_popup').HideBubblePopup();$('#popup_content_right').css({ 'width': '412px'}); $('#popup_content_left').show(); $(window).resize(); $('#collapse_popup').hide(); $('#expand_popup').show()", class: 'bubble-azure', id: 'collapse_popup', style: 'display:none' %>

    <%= javascript_tag do %>
    $(function(){
      $('#expand_popup, #collapse_popup').CreateBubblePopup({
        innerHtml: '',
        themeName: 'orange',
        themePath: root_url + 'assets/jquerybubblepopup-theme/',
        position: 'top',
        align: 'right',
        tail: {align: 'right'},
        distance: '0px',
        divStyle: {'z-index': '20', 'margin-top': '-8px', 'margin-left': '8px'}
      });

      $('#expand_popup').SetBubblePopupInnerHtml('Expand the Popup');
      $('#collapse_popup').SetBubblePopupInnerHtml('Collapse the Popup');
    });
    <% end %>
  </div>
</div>
